(
    password: None,
    theme: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),

    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),

    cava: (
        lower_cutoff_freq: 50,
        higher_cutoff_freq: 10000,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
    ),

    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       TogglePause,
            ".":       VolumeUp,
            "L":      NextTab,
            "N":      PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Playlists"),
            "3":       SwitchToTab("Directories"),
            "4":       SwitchToTab("Artists"),
            "5":       SwitchToTab("Tracks"),
            "6":       SwitchToTab("Albums"),
            "7":       SwitchToTab("Genres"),
            "q":       Quit,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "~":       ShowHelp,
            "u":       Update,
             "":       Rescan,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
            "U": ExternalCommand(
                command: ["blissify", "update"],
                description: "update blissify",
            ),
            "B": ExternalCommand(
                command: ["blissify", "playlist", "30", "--keep-current-queue"],
                description: "Add 30 songs with blissify",
            ),
        },
        navigation: {
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "n":         NextResult,
            "p":         PreviousResult,
            "<C-u>":     UpHalf,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "J":         MoveDown,
            "<C-d>":     DownHalf,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "K":         MoveUp,
            "D":         Delete,
            "I":         ShowInfo,
            "<C-z>":     ContextMenu(),
            "<C-s>":     Save(kind: Playlist(name: "likedImports", all: false)),
            "<C-x>":     DeleteFromPlaylist(kind: Modal()),
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "a":       AddToPlaylist,
            "d":       Delete,
            "C":       JumpToCurrent,
            "X":       Shuffle,
        },
    ),

    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),

    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),

    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "30%",
                        borders: "RIGHT",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(AlbumArt),
                                ),
                            ],
                        ),
                    ),
                    (
                        size: "70%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Queue),
                                ),
                                (
                                    borders: "TOP",
                                    size: "20",
                                    pane: Pane(Cava),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Directories",
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
        (
            name: "Tracks",
            pane: Pane(Browser(root_tag: "title")),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Genres",
            pane: Pane(Browser(root_tag: "genre")),
        ),
    ],
)

