#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    theme: None,
    volume_step: 5,
    scrolloff: 5,
    enable_mouse: true,
    
    album_art: (
        method: Auto,
        max_size_px: (width: 600, height: 600), 
    ),

    keybinds: (
        global: {
            ":":       CommandMode,
            "space":   TogglePause,
            
            "]":       NextTab,
            "[":       PreviousTab,
            
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Albums"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Search"),
            "5":       SwitchToTab("Playlists"),
            
            "q":       Quit,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "+":       VolumeUp,
            "-":       VolumeDown,
            "~":       ShowHelp,
        },

        navigation: {
            // Mouvements
            "h":         Left,
            "j":         Down,
            "k":         Up,
            "l":         Right,
            
            "g":         Top,      // gg = Haut (g ici)
            "G":         Bottom,   // G = Bas (Standard Vim/Helix)
            
            "<C-u>":     UpHalf,
            "<C-d>":     DownHalf,
            
            // Actions
            "x":         Select,          // VOTRE DEMANDE : x pour sélectionner
            "a":         Add,
            "A":         AddAll,
            
            "<CR>":      Confirm,         
            
            "/":         EnterSearch,
            "n":         NextResult,
            "N":         PreviousResult,
            
            "d":         Delete,
            "r":         Rename,
            "<Esc>":     Close,
        },

        queue: {
            "d":       Delete,
            "D":       DeleteAll,
            "<CR>":    Play,             // Enter pour jouer
            "J":       MoveDown,
            "K":       MoveUp,
            "a":       AddToPlaylist,
            "x":       Select,           // x pour sélectionner aussi ici
        },
    ),

    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "30%", pane: Pane(AlbumArt)), 
                    (size: "70%", pane: Pane(Queue)),
                ],
            ),
        ),
        (name: "Playlists", pane: Pane(Playlists)),
        (name: "Albums", pane: Pane(Albums)),
        (name: "Artists", pane: Pane(Artists)),
        (name: "Search", pane: Pane(Search)),
    ],
)
